/*made with :heart: by M3t4ldooD */
@import url(http://fonts.googleapis.com/css?family=Concert+One);

h2 {
    text-decoration:bolder;
}

body {
    background-color: white; 
    background-image: url("");
    background-attachment:fixed ;
}

img {
    filter: glow(5px 9px 2px black);
}

audio {
    transition:all 0.5s linear;
    box-shadow: 2px 2px 4px 0px #000000;
    border-radius:7px 7px 7px 7px;
