body {
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.postimg.cc/7hTN5xXX/n2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.content {
  align-items: center;
  height: 100%;
  color: #ffffff;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 20px;
}

.icon {
  margin-right: 10px;
}

.icon .fa {
  font-size: 20px;
}

.skills,
.explist {
  background-color: black;
  color: red;
  padding: 10px 20px;
}

.skill_name {
  background-color: black;
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.skill_prog {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 20px;
  height: 5px;
  width: 100%;
}

.skill_per {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: red;
  text-align: right;
}

.date {
  background-color: black;
  color: red;
  font-size: 16px;
  font-weight: bold;
}

.songtitle {
  font-size: 20px;
}

.social {
  display: flex;
  justify-content: center;
}

.social .icon {
  margin: 0 10px;
}

.social .fa {
  font-size: 22px;
}
