li a:hover, a.selected, input[type="submit"], .project span {
    background-color: rgb(87, 2, 2);
    color: white;
    animation-name: teal-hover;
    animation-duration: 250ms;
}

li a {
    text-decoration: dashed;
    color: rgb(87, 1, 1);
    padding: .1em .2em .1em .1em;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
nav ul {
    list-style-type: none;
    margin: 0px;
    list-style-position: inside;
    list-style: none;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
body {
    font-family: 'impact', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgb(153, 4, 4);
    margin: 0px;
}